---
import Main from '../layouts/Main.astro';
import CrxPrivacyPolicyComponent from '../components/CrxPrivacyPolicy.astro';
import { chromeExtensionPolicy } from '../lib/chromeExtensionPolicy';
---

<Main title={chromeExtensionPolicy.title} canonicalPath={chromeExtensionPolicy.canonicalPath}>
	<CrxPrivacyPolicyComponent/>
</Main>
