---
import Main from '../layouts/Main.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import GitHubContributions from '../components/GitHubContributions.astro';
import SubFooter from '../components/SubFooter.astro'
---

<Main>
	<About/>
	<Experience/>
	<GitHubContributions username="tahzeer" class="mb-8" />
	<SubFooter/>
</Main>
