---
import Main from '../layouts/Main.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import SubFooter from '../components/SubFooter.astro'
---

<Main>
	<About/>
	<Experience/>
	<SubFooter/>
</Main>
