---
import ProjectItem from '../components/ProjectItem.astro';
import { projects } from '../data/projects';
import Main from '../layouts/Main.astro';
---

<Main>
	<section>
		<div class="space-y-8">
			{projects.map((project) => <ProjectItem project={project} />)}
		</div>
	</section>
</Main>
