---
import Main from '../layouts/Main.astro';
---

<Main>
	<div class="flex-1 w-full flex" style="min-height: 100vh;">
		<iframe
			src="/resume.pdf"
			title="Resume PDF"
			class="flex-1 w-full"
			style="height: 100vh; border: none;"
		></iframe>
	</div>
</Main>