---
---
<section>
	<header class="mb-8">
		<p class="text-gray-600 mb-6 dark:text-gray-400">I'm a <span id="live-age" class="min-w-[11ch] inline-block underline decoration-gray-800 decoration-4">23.000000000</span>year-old developer based in (mum/blr) india.</p>
		<p class="text-gray-600 mb-4 dark:text-gray-400">currently, a software engineer at technoforte software (based in blr) working across full-stack, micro-services development, cloud deployment; contributing to openg2p and helping countries with digitization of large scale goverment to persons fund transfers</p>
		<p class="text-gray-600 dark:text-gray-400">in my spare time, i enjoy running, reading and building stuff</p>
	</header>
	<h2 class="text-lg font-medium mb-6">stuff i use:</h2>
	<div class="flex flex-wrap gap-2 mb-6">
		<div class="rounded-lg text-center px-4 py-2 border border-zinc-200 dark:border-zinc-700 text-sm cursor-pointer duration-300 flex items-center gap-2">
			<span>fastapi</span>
		</div>
		<div class="rounded-lg text-center px-4 py-2 border border-zinc-200 dark:border-zinc-700 text-sm cursor-pointer duration-300 flex items-center gap-2">
			<span>nextjs</span>
		</div>
		<div class="rounded-lg text-center px-4 py-2 border border-zinc-200 dark:border-zinc-700 text-sm cursor-pointer duration-300 flex items-center gap-2">
			<span>astro</span>
		</div>
		<div class="rounded-lg text-center px-4 py-2 border border-zinc-200 dark:border-zinc-700 text-sm cursor-pointer duration-300 flex items-center gap-2">
			<span>expo</span>
		</div>
		<div class="rounded-lg text-center px-4 py-2 border border-zinc-200 dark:border-zinc-700 text-sm cursor-pointer duration-300 flex items-center gap-2">
			<span>odoo</span>
		</div>
		<div class="rounded-lg text-center px-4 py-2 border border-zinc-200 dark:border-zinc-700 text-sm cursor-pointer duration-300 flex items-center gap-2">
			<span>golang</span>
		</div>
		<div class="rounded-lg text-center px-4 py-2 border border-zinc-200 dark:border-zinc-700 text-sm cursor-pointer duration-300 flex items-center gap-2">
			<span>docker</span>
		</div>
		<div class="rounded-lg text-center px-4 py-2 border border-zinc-200 dark:border-zinc-700 text-sm cursor-pointer duration-300 flex items-center gap-2">
			<span>k8s</span>
		</div>
	</div>
	<div class="mt-10 w-full h-px bg-zinc-300 dark:bg-zinc-600"></div>
<section>

<!-- Client-side script to update age -->
<script is:inline>
  const birthDate = new Date('2001-11-30T00:00:00Z');
  const ageElement = document.getElementById('live-age');

  function updateAge() {
    const now = new Date();
    const ageInMs = now - birthDate;
    const msInYear = 365.2425 * 24 * 60 * 60 * 1000;
    const age = ageInMs / msInYear;

    ageElement.textContent = age.toFixed(9);
  }

  // Update the age every 50ms
  setInterval(updateAge, 50);
  updateAge();
</script>