---
---
<nav class="lg:mb-12 md:mb-12 mb-4 py-5">
    <div class="flex flex-col md:flex-row md:items-center justify-between">
        <div class="flex items-center">
            <a href="/" class="text-3xl gap-2 font-semibold flex lg:flex tracking-tight items-center justify-center">tahzeer</a>
        </div>
        <div class="flex flex-row gap-4 mt-6 md:mt-0 md:ml-auto items-center">
            <a href="/blog" class="transition-all hover:text-neutral-800 dark:hover:text-neutral-200 flex align-middle relative">blog</a>/
            <a href="/projects" class="transition-all hover:text-neutral-800 dark:hover:text-neutral-200 flex align-middle relative">projects</a>/
            <a href="/resume" class="transition-all hover:text-neutral-800 dark:hover:text-neutral-200 flex align-middle relative">resume</a>
        </div>
    </div>
</nav>