---
type Props = {
	class?: string;
};

const { class: className = '' } = Astro.props;
---

<div class={`my-8 border-b border-dashed border-black/[0.06] dark:border-white/[0.06] ${className}`}></div>
