---

---

<div>
	<p class="text-gray-600 dark:text-gray-400">i'm currently exploring building products in the financial space, if you are interested in colaborating, building something cool or just wanna chat about tech, finance and startups in general feel free to reach out to me through the links below</p>
	<p class="text-gray-500 mt-6 mb-12"></p>
	<div
		class="text-sm flex justify-between items-center opacity-60 text-gray-500 mt-5 w-full"
	>
		<div class="flex items-center">
			<span>
				Built and maintained by <a class="ml-1 underline decoration-gray-200 decoration-4 dark:decoration-gray-800" target="_"href="https://linkedin.com/in/tahzeer">tahzeer</a>
			</span>
			
		</div>
		<p class="flex">
			<svg
				stroke="currentColor"
				fill="currentColor"
				stroke-width="0"
				viewBox="0 0 384 512"
				class="text-yellow-500 animate-pulse drop-shadow-[0_0_6px_rgba(34,197,94,0.8)] w-4 h-4 mr-1 mt-[2px]"
				height="1em"
				width="1em"
				xmlns="http://www.w3.org/2000/svg"
				><path
					d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2l0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4l0 0c19.8 27.1 39.7 54.4 49.2 86.2H272zM192 512c44.2 0 80-35.8 80-80V416H112v16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"
				></path></svg
			> last updated {
				(() => {
					const day = new Date().getDate();
					const getOrdinal = (n: number) => {
						const s = ["th", "st", "nd", "rd"], v = n % 100;
						return s[(v - 20) % 10] || s[v] || s[0];
					};
					return `${day}${getOrdinal(day)} Oct 2025`;
				})()
			}
		</p>
	</div>
</div>
