---
import Main from '../../layouts/Main.astro';
import PolicyRenderer from '../../components/PolicyRenderer.astro';
import { chromeExtensionPolicy } from '../../lib/chromeExtensionPolicy';
---

<Main title={chromeExtensionPolicy.title} canonicalPath={chromeExtensionPolicy.canonicalPath}>
	<PolicyRenderer policy={chromeExtensionPolicy} />
</Main>
